{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact-us.css' %}">
{% endblock %}

{% block body %}

{% include 'nav.html' %}

<main>
    <section>
        <header>
            <h1>Contact us</h1>
        </header>
        <div class="content">
            <p>For questions, comments or field support on needs assessments (data collation, collection or analysis), please contact us at <a href="mailto:HQNA@unhcr.org">HQNA@unhcr.org</a></p>
            <p>UNHCR needs assessment activities are guided by general criteria and encompass not just data collection, but also data collation and needs analysis. Support requests on this site focus on needs assessment activities, but we can also liaise specific requests to the appropriate colleagues supporting profiling, protection monitoring, population data management and/or other data and information related activities.</p>
        </div>
    </section>
</main>

{% include 'footer.html' %}

{% endblock %}
