{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact-us.css' %}">
{% endblock %}

{% block body %}

{% include 'nav.html' %}

<main>
    <section>
        <header>
            <h1>Contact us</h1>
        </header>
        <div class="content">

                <br>UNHCR Emergency Handbook<br>


                <br>The Emergency Handbook is edited and managed by Emergency Services (Division for Emergency, Security and Supply).

                <br>For suggestions and user comments on the Emergency Handbook, please contact:
                <br>
                <br>Emergency Services
                <br>Division for Emergency, Security and Supply
                <br>UNHCR
                <br>Case Postale 2500
                <br>1211 Genève 2 Dépôt
                <br>Switzerland
                <br>Email: hqemhand@unhcr.org
                <br>Should you have a protection need, please do not write to this mailbox. We suggest that you contact the UNHCR Field Office in your country. If you are not aware of where your local UNHCR office is, you may contact it here.

        </div>
    </section>
</main>

{% include 'footer.html' %}

{% endblock %}
