{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/contact-us.css' %}">
{% endblock %}

{% block body %}

{% include 'nav.html' %}

<main>
    <section>
        <header>
            <h1>Contact us</h1>
        </header>
        <div class="content">
            <pre>
                UNHCR Emergency Handbook
                Contact us


                The Emergency Handbook is edited and managed by Emergency Services (Division for Emergency, Security and Supply).

                For suggestions and user comments on the Emergency Handbook, please contact:

                Emergency Services
                Division for Emergency, Security and Supply
                UNHCR
                Case Postale 2500
                1211 Genève 2 Dépôt
                Switzerland
                Email: hqemhand@unhcr.org
                Should you have a protection need, please do not write to this mailbox. We suggest that you contact the UNHCR Field Office in your country. If you are not aware of where your local UNHCR office is, you may contact it here.
            </pre>
        </div>
    </section>
</main>

{% include 'footer.html' %}

{% endblock %}
