{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/network-and-contact.css' %}">
{% endblock %}

{% block body %}

{% include 'nav.html' %}

<main>
    <section id="faq-page">
        <header>
            <h2>FAQs</h2>
        </header>
        <div class="content">
            <!-- <p>Currently under construction and will be based on the incoming questions via the <a class="link" href="{% url 'network_and_contact' %}">contact us</a> page.</p> -->
            <div class="faq-object">
                <div class="faq-question">
                    <h4>What is a needs assessment?</h4>
                </div>
                <div class="faq-answer">
                        <p>
                            A needs assessment is a data collection exercise
                            usually conducted at a single point in time to gain
                            an understanding of the priorities, availability of
                            resources, sources of problems and their impact on the
                            affected population.
                        </p>
                        <p>
                            A needs assessment is for instance conducted to
                            <ul>
                                <li>
                                    Identify the different protection needs and
                                    risks of diverse women, men, girls, and
                                    boys of concern, and establish priorities.
                                </li>
                                <li>
                                    Estimate the severity of conditions faced
                                    by diverse women, men, girls, and boys of
                                    concern, and establish priorities.
                                </li>
                                <li>
                                    Identify existing capacities and resources
                                    of persons of concern, including positive
                                    and negative coping mechanisms, as well as
                                    partners and governments.
                                </li>
                            </ul>
                        </p>
                        <p>
                            Needs assessments and analysis are main steps
                            within the UNHCR Operations Management Cycle and the
                            Humanitarian Programme Cycle, the main planning cycles
                            within humanitarian and refugee crises. The findings of
                            needs assessments inform subsequent programme design and
                            implementation.
                        </p>
                </div>
            </div>

            <div class="faq-object">
                <div class="faq-question">
                    <h4>Within UNHCR operations, what is the relationship between assessments and monitoring?</h4>
                </div>
                <div class="faq-answer">
                    <p>
                        An analytical framework provides the logic of the assessment. It visualizes how different information
                        categories fit together and what the analysis outputs will be. Examples of such frameworks are
                        the
                        <a class="link" href="https://www.humanitarianresponse.info/en/programme-cycle/space/document/multi-sector-initial-rapid-assessment-guidance-revision-july-2015">
                            MIRA Analytical Framework
                        </a>,
                        <a class="link" href="https://reliefweb.int/report/jordan/vulnerability-assessment-framework-vaf-jordan-guidance-note">
                            the UNHCR Vulnerability Assessment Framework (VAF) in Jordan
                        </a>
                        , and
                        <a class="link" href="https://www.unhcr.org/protection/statelessness/49a271752/statelessness-analytical-framework-prevention-reduction-protection.html">
                            Statelessness: UNHCR Analytical Framework for Prevention, Reduction and Protection.
                        </a>
                        The framework is accompanied by a detailed data
                        analysis plan, that provides details on how to process,
                        analysis and present each concept measured. The
                        analysis framework and data analysis plan form the
                        backbone of any data collection exercise. Having these
                        in place makes sure that:
                        <ul>
                            <li>
                                All necessary data is collected, while no time
                                is wasted on collecting data that will not
                                inform the assessment objectives.
                            </li>
                            <li>
                                Indicators and analytical outputs are
                                discussed, recorded and shared with all those
                                involved in the assessment, including
                                information managers and end-users.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="faq-object">
                <div class="faq-question">
                    <h4>
                        When are needs assessments considered to be a
                        'coordinated needs assessment'?
                    </h4>
                </div>
                <div class="faq-answer">
                    <p>
                        There are three different levels of coordination for assessments
                    </p>
                    <p>
                        <span class="bold">Coordinated</span>:
                        Assessments are planned and carried out in partnership
                        with other actors, including
                        <ul>
                            <li>
                                Joint needs assessments: All steps of the
                                assessment, including data collection,
                                processing, and analysis, take place as a
                                single process among agencies within and
                                between clusters/thematic areas, and lead to
                                the production of a jointly owned output.
                            </li>
                            <li>
                                Harmonised needs assessments: Assessments are
                                conducted separately by agencies, but they
                                follow agreed standards in order to facilitate
                                cross-analysis. These standards include for
                                instance common geographic data standards and
                                standard questions.
                            </li>
                        </ul>
                    </p>
                    <p>
                        <span class="bold">Uncoordinated</span>:
                        Assessments are conducted without the knowledge or
                        consideration of other assessment and analysis
                        initiatives
                    </p>
                </div>
            </div>

            <div class="faq-object">
                <div class="faq-question">
                    <h4>
                        What are UNHCR's roles and responsibilities when it
                        comes to coordinated needs assessments?
                    </h4>
                </div>
                <div class="faq-answer">
                    <p>
                        As one of the signatories of the Grand Bargain, and the
                        lead in refugee operations, UNHCR has a core role
                        within the humanitarian community to professionalize
                        needs assessments and joint analysis.
                    </p>
                    <p>
                        In refugee settings, UNHCR is to lead a coordinated
                        needs assessment approach, including  joint
                        assessments. This includes leading an assessment
                        coordination forum, such as an Assessment Working Group
                        (AWG) and facilitating joint multi-sector needs
                        analysis on a regular basis.
                    </p>
                    <p>
                        In non-refugee situations, OCHA leads the coordination
                        of needs assessments. UNHCR supports this approach and
                        leads coordinated assessments within the UNHCR led
                        clusters.
                    </p>
                </div>
            </div>

            <div class="faq-object">
                <div class="faq-question">
                    <h4>
                        Do needs assessments always involve field data
                        collection?
                    </h4>
                </div>
                <div class="faq-answer">
                    <p>
                        No. A needs assessment is any exercise conducted to
                        understand the various needs of the population through
                        systematic gathering and analysis of information. This
                        include exercises that only focus on the analysis of
                        secondary data.
                    </p>
                    <p>
                        This illustrates that assessments come in many shapes
                        and forms. Socio-economic surveys, participatory
                        assessments and IDP profiling exercises are examples of
                        assessments types. Assessments can be conducted by one
                        or multiple organisations, take a few days (an initial
                        assessment can be done in 3-5 days) or months (an
                        in-depth assessment usually takes between 1-4 months),
                        and cover one or multiple sectors.
                    </p>
                </div>
            </div>

            <div class="faq-object">
                <div class="faq-question">
                    <h4>
                        Are participatory assessments and needs assessments the
                        same thing?
                    </h4>
                </div>
                <div class="faq-answer">
                    <p>
                        No. Participatory assessment approaches is one of the
                        many types of assessment approaches. Other types of
                        assessments include initial, rapid and in-depth
                        assessments. For each assessment approach there are
                        different tools are available, depending on the
                        specific context.  An example of a participatory
                        assessment tool is the UNHCR Participatory Assessment
                        Tool, while the JIPS IDP Profiling Guidance is an
                        often-used in-depth assessment tool. Regardless of the
                        assessment focus, all needs assessments must adhere to
                        the principles and practices of participatory and
                        community-based approaches. These principles for
                        instance include the need for mainstreaming of age,
                        gender and diversity.
                    </p>
                </div>
            </div>

            <div class="faq-object">
                <div class="faq-question">
                    <h4>
                        What is the needs assessment process?
                    </h4>
                </div>
                <div class="faq-answer">
                    <p>
                        The five basic steps of a needs assessment are:
                    </p>
                    <ol>
                        <li>understand the context</li>
                        <li>plan the needs assessment</li>
                        <li>collate and collect secondary and, if required, primary data</li>
                        <li>analyse the needs and </li>
                        <li>share the information</li>
                    </ol>
                    <div class="img-container">
                        <img src="/static/img/needs-assessment.PNG" alt="needs assessment process">
                    </div>
                </div>
            </div>

            <div class="faq-object">
                <div class="faq-question">
                    <h4>
                        There are so many different assessment approaches, how
                        do I decide which approach to use?
                    </h4>
                </div>
                <div class="faq-answer">
                    <p>
                        There are a large number of standardized tools that can
                        be used to assess needs, including inter-agency tools
                        (e.g. the Multi Sector/Cluster Initial Rapid Assessment
                        (MIRA)) and rapid sector specific assessments (e.g. the
                        Rapid Protection Assessment (RPA) Tool).
                    </p>
                    <p>
                        When deciding on the most appropriate approach,
                        consider the objectives of the assessment and the
                        feasibility of different approaches within the context:
                    </p>
                    <ul>
                        <li>
                            <span class="bold">Decisions to be influenced</span>:
                            What type of decision should be informed by the
                            assessment? Initial response decisions, initial
                            planning of the response or detailed planning for
                            humanitarian relief, early recovery and durable
                            solutions?
                        </li>
                        <li>
                            <span class="bold">Crisis characteristics</span>:
                            What are the characteristics of the crisis? What
                            level of detail is required and appropriate looking
                            at the fluidity of the situation, an initial,
                            rapid, or in-depth assessment?
                        </li>
                        <li>
                            <span class="bold">Security and access</span>:
                            Are there security and/or access concerns which
                            should be considered?
                        </li>
                        <li>
                            <span class="bold">Capacity</span>:
                            How much time and resources are available to
                            undertake the assessment? Is an initial, rapid or
                            in-depth type of assessment appropriate? Is there
                            capacity and experience within the operation using
                            a certain approach, for instance as the result of
                            preparedness activities?
                        </li>
                        <li>
                            <span class="bold">Topics</span>:
                            Will the assessment serve multiple sectors or
                            thematic areas or only one?
                        </li>
                        <li>
                            <span class="bold">Coordination</span>:
                            Will the assessment be a joint or harmonized
                            assessment?
                        </li>
                    </ul>
                    <p>
                        A list of global tools can be found
                        <a class="link" href="http://needsassessment.unhcr.org/tools-and-templates/">here.</a>
                        All global standardized tools will have to be adapted
                        to the specific crisis context.
                    </p>
                </div>
            </div>

            <div class="faq-object">
                <div class="faq-question">
                    <h4>
                        What are the key ingredients of a good assessment?
                    </h4>
                </div>
                <div class="faq-answer">
                    <p>
                        Needs assessments can differ greatly in scope, length
                        and objective. However, good assessment processes have
                        a few things in common:
                    </p>
                    <ul>
                        <li>
                            <span class="bold">Coordinated</span>:
                            Coordinate assessment processes as much as possible
                            to avoid duplication of assessments efforts and
                            assessment fatigue.
                        </li>
                        <li>
                            <span class="bold">Based on adequate planning</span>:
                            Successful implementation of a needs assessment, as
                            well as the appropriate use of its results,
                            requires careful planning and agreement between key
                            stakeholders on main objectives. Key components of
                            the planning phase include setting objectives,
                            determining coordination arrangements, detailing
                            information needs, analytical framework and data
                            analysis plan and setting data-management
                            procedures.
                        </li>
                        <li>
                            <span class="bold">Create ownership</span>:
                            Engage main stakeholders, including the population
                            of concern and decision makers, from the start to
                            ensure buy-in for the process and assessment
                            results.
                        </li>
                        <li>
                            <span class="bold">Include a thorough review of secondary data</span>:
                            To save resources and avoid assessment fatigue,
                            make maximum use of secondary data. Only collect
                            primary data if there remain significant
                            information gaps.
                        </li>
                        <li>
                            <span class="bold">Do no harm</span>:
                            The safety of those who ask for and provide
                            information should be kept in mind, and any
                            recorded information safeguarded against illicit
                            use and sharing. The assessment process should not
                            have a negative impact on societal tensions or
                            exploit any segment of the population visited or
                            interviewed. Information sources should be
                            protected by complying with best practices
                            regarding privacy and confidentiality, and seeking
                            informed consent.
                        </li>
                        <li>
                            <span class="bold">Relevant</span>:
                            Collect and analyse only the data that is required
                            to inform specified decision.
                        </li>
                        <li>
                            <span class="bold">Timely</span>:
                            Distribute the findings and analysis as quickly as
                            possible to support decision-making and further
                            assessments.
                        </li>
                        <li>
                            <span class="bold">Valid</span>:
                            Use standardized and rigorous assessment procedures
                            to ensure credible results.
                        </li>
                        <li>
                            <span class="bold">Transparent</span>:
                            Share the assessment methodology, tools and
                            limitations of the assessment. This includes any
                            assumptions made during the analysis or any
                            potential limitations on either the accuracy of the
                            data or the sources used.
                        </li>
                        <li>
                            <span class="bold">Impartial</span>:
                            Minimise bias within the data collection
                            instruments, while collecting data and during the
                            analysis phase by including a diverse range of
                            perspectives, cross-checking findings and following
                            pre-defined analysis plans.
                        </li>
                        <li>
                            <span class="bold">Implement relevant disaggregation</span>:
                            Disaggregate data by sex, age and/or other relevant
                            factors so that the assessment accurately captures
                            the diversity of conditions faced by different
                            population groups.
                        </li>
                        <li>
                            <span class="bold">Shared</span>:
                            Share findings with other response actors, national
                            authorities and the affected population. Follow
                            pre-defined data-sharing principles and agreements.
                        </li>
                        <li>
                            <span class="bold">Ensure Continuity</span>:
                            Analysis of the situation is not an on-off event.
                            Develop and implement a strategy, as part of the
                            overall information management strategy, which
                            outlines how and when to collect the updated
                            information required to inform decision making.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="faq-object">
                <div class="faq-question">
                    <h4>
                        How do I analyse all the information generated by the
                        monitoring systems and assessments?
                    </h4>
                </div>
                <div class="faq-answer">
                    <p>
                        All data collection exercises are based on an
                        analytical framework and a data analysis plan which
                        guides the analysis of the information collected. It
                        provides details on how to process, analyse and present
                        each concept measured.  Guidance on the analytical
                        framework can be found
                        <a class="link" href="https://www.dropbox.com/s/y4b4lh8o6ct48q5/2.3%20Analytical%20Framework_Template_monster_v2.xlsx?dl=0">here.</a>
                        An example of a data analysis plan can be found
                        <a class="link" href="https://www.dropbox.com/s/b1i4b2m5q5l8opi/2.5%20Data%20Analysis%20plan_v3.0.xlsx?dl=0">here.</a>
                    </p>
                    <p>
                        The framework and plan guides the analysis phase.
                        Analysis is a sense-making process which consists of
                        four main levels:
                    </p>
                    <ol>
                        <li>
                            <span class="bold">Describe</span>:
                            Summarise the main assessment findings and provide
                            comparisons over time, between geographic areas,
                            population groups etc.
                        </li>
                        <li>
                            <span class="bold">Explain</span>:
                            Explain why the findings are as they are. Identify
                            relationships between different issues.
                        </li>
                        <li>
                            <span class="bold">Interpret</span>:
                            Evaluate all the evidence and draw conclusions.
                            Identify the severity of the current and possible
                            future situation. Prioritise geographical areas,
                            groups and concerns. Identify to what extent the
                            findings are applicable to a geographic area or
                            population group not included within the
                            assessment.
                        </li>
                        <li>
                            <span class="bold">Anticipate</span>:
                            Examine how the situation could develop over the
                            next weeks or months.
                        </li>
                    </ol>
                    <p>
                        More brains understand more than one. As far as
                        possible, include subject matter experts within the
                        analysis process to verify, deepen and complement the
                        findings. A joint analysis workshop is an example of a
                        process whereby experts with different backgrounds come
                        together to collectively analyse the findings.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{% include 'footer.html' %}

{% endblock %}
