{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}


{% block body %}

{% include 'nav.html' %}

<main>
{% for intro in introductions %}
<section class="intro">
    <h1>{{ intro.title }}</h1>
    <p>{{ intro.description|safe }}</p>
</section>
{% endfor %}

{% for download_section in download_sections %}
<section class="download-handbook">
    <header>
        <h2>{{ download_section.title }}</h2>
    </header>
    <div class="content">
        <div class="handbook-container">
            {% for download in download_section.download_set.all %}
            {% if download.enabled %}
            <div class="handbook">
                <img class="preview" src="{% if download.thumbnail %}{{ download.thumbnail.url }}{% else %}{% static 'img/pdf-icon.png' %}{% endif %}">
                <div class="details">
                    <h3 class="title">{{ download.title }}</h3>
                    <p class="description">{{ download.description }}</p>
                    <div class="action-buttons">
                        <a href="{% if download.file %}{{ download.file.url }}{% endif %}" download><i class="ion-ios-download-outline"></i>Download</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
{% endfor %}
</main>

<aside>
    <section id="links">
        <header>
            <h2>Useful links</h2>
        </header>
        <div class="content">
            {% for keylink in keylinks %}
            <div>
                <a href="{{ keylink.url }}">{{ keylink.title }}</a>
            </div>
            {% endfor %}
        </div>
    </section>
    <section id="highlights">
        <header>
            <h2>Highlights</h2>
        </header>
        <div class="content">
        </div>
    </section>
</aside>

{% include 'footer.html' %}

{% endblock %}
