{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}


{% block body %}

{% include 'nav.html' %}

<main>
<section id="intro">
    <h1>Needs assesment toolbox</h1>
    <p>The objective of the <strong>Needs assesment toolbox</strong> is to provide, Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</section>
<section id="download-handbook">
</section>
</main>

<aside>
    <section id="highlights">
        <header>
            <h2>Highlights &amp; updates</h2>
        </header>
        <div class="content">
        </div>
    </section>
</aside>
 
{% endblock %}
