{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/network-and-contact.css' %}">
{% endblock %}

{% block body %}

{% include 'nav.html' %}

<main id="network-and-contact">
    <section class="news-and-updates">
        <header>
            <h2>news &amp; updates</h2>
        </header>
        <div class="content">
            <form method="POST">
                {% csrf_token %}
                <div class="input-group">
                    <label>Name</label>
                    <input name="name" type="text" placeholder="eg: John Doe" required>
                </div>
                <div class="input-group">
                    <label>Email address</label>
                    <input name="email" type="text" placeholder="eg: john.doe@gmail.com" required>
                </div>
                <div class="input-group">
                    <label>Organization</label>
                    <input name="organization" type="text" placeholder="eg: Togglecorp" required>
                </div>
                <div class="input-group">
                    <label>Duty station *</label>
                    <select name="duty-station" required>
                        <option selected disabled value="">Please select an option</option>
                        {% for duty_station in duty_stations %}
                        <option value="{{ duty_station }}">{{ duty_station }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </section>
    <section class="contact-us" >
        <header>
            <h2>Contact us</h2>
        </header>
        <div class="content">
            <p>For questions, comments or field support on needs assessments (data collation, collection or analysis), please contact us at <a href="mailto:HQNA@unhcr.org">HQNA@unhcr.org</a></p>
            <p>UNHCR needs assessment activities are guided by general criteria and encompass not just data collection, but also data collation and needs analysis. Support requests on this site focus on needs assessment activities, but we can also liaise specific requests to the appropriate colleagues supporting profiling, protection monitoring, population data management and/or other data and information related activities.</p>
        </div>
    </section>
</main>

{% include 'footer.html' %}

{% endblock %}
