{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/news-and-notifications.css' %}">
{% endblock %}

{% block body %}

{% include 'nav.html' %}

<main id="news-and-updates">
    <header>
        <h2>Subscribe to news &amp; updates</h2>
    </header>
    <div class="content">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label>Name</label>
                <input name="name" type="text" placeholder="eg: John Doe" required>
            </div>
            <div class="input-group">
                <label>Email address</label>
                <input name="email" type="text" placeholder="eg: john.doe@gmail.com" required>
            </div>
            <div class="input-group">
                <label>Organization</label>
                <input name="organization" type="text" placeholder="eg: Togglecorp" required>
            </div>
            <div class="input-group">
                <label>Duty station *</label>
                <select name="duty-station" required>
                    <option selected disabled value="">Please select an option</option>
                    {% for duty_station in duty_stations %}
                    <option value="{{ duty_station }}">{{ duty_station }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit">Subscribe</button>
        </form>
    </div>
    </header>
</main>

{% include 'footer.html' %}

{% endblock %}
