{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tool-list.css' %}">
<script src="{% static 'js/utils.js' %}"></script>
<script src="{% static 'js/tool-list.js' %}"></script>

<script>
    const DOWNLOADING_URL = '{% url 'downloading' %}';
</script>
{% endblock %}


{% block body %}

<form method="post" action="{% url 'download' %}" target="downloadWindow" hidden>
{% csrf_token %}
<input name="urls">
</form>

<script>
    const csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>

{% include 'nav.html' %}

<main>
    <header>
        <div id="navigation-tabs">
            {% for category in current_list.category_set.all %}
            <a data-target="category-{{ category.pk }}">{{ category.title }}</a>
            {% endfor %}
        </div>
        <div class="action-buttons">
            <button id="download-selected"><i class="ion-ios-download-outline"></i>Download selected <span id="selection-count">0</span></button>
        </div>
    </header>

    <div class="content">
        {% for category in current_list.category_set.all %}
        <section id="category-{{ category.pk }}">
            <header>
                <div class="section-title">
                    <h3>{{ category.title }}</h3>
                </div>
                <div class="table-header">
                    <div class="select"><span class="checkbox check-all"><i></i></span></div>
                    <div class="title">Title</div>
                    <div class="description">Description</div>
                    <div class="format">Format</div>
                    <div class="thumbnail">Thumbnail</div>
                    <div class="extra">Download</div>
                </div>
            </header>
            <div class="content">
                {% for tool in category.tool_set.all %}
                <div class="tool" data-url="{{ tool.url }}">
                    <div class="select"><span class="checkbox"><i></i></span></div>
                    <div class="title">{{ tool.title }}</div>
                    <div class="description">{{ tool.description }}</div>
                    <div class="format"><img src="{% if tool.format.icon %}{{ tool.format.icon.url }}{% else %}{% static 'img/pdf-icon.png' %}{% endif %}" alt="{{ tool.format.title }}"><label>{{ tool.format.title }}</label></div>
                    <div class="thumbnail">{% if tool.thumbnail %}<img src="{{ tool.thumbnail.url }}">{% endif %}</div>
                    <div class="extra"><a target="_blank" {% if tool.url %}href="{{ tool.url }}"{% endif %}><i class="ion-ios-download-outline"></i></a></div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endfor %}
    </div>
</main>

{% endblock %}
