{% extends 'base.html' %}
{% load staticfiles %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/tool-list.css' %}">
<script src="{% static 'js/tool-list.js' %}"></script>
{% endblock %}


{% block body %}

{% include 'nav.html' %}

 
<main>
    <header>
        <div id="navigation-tabs">
            {% for category in current_list.category_set.all %}
            <a data-target="category-{{ category.pk }}">{{ category.title }}</a>
            {% endfor %}
        </div>
        <div class="action-buttons">
            <button><i class="ion-ios-download-outline"></i>Download selected <span id="selection-count">0</span></button>
        </div>
    </header>
     
    <div class="content">
        {% for category in current_list.category_set.all %}
        <section id="category-{{ category.pk }}">
            <header>
                <div class="section-title">
                    <h3>{{ category.title }}</h3>
                </div>
                <div class="table-header">
                    <div class="select"><span class="checkbox check-all"><i></i></span></div>
                    <div class="title">Title</div>
                    <div class="description">Description</div>
                    <div class="format">Format</div>
                    <div class="thumbnail">Thumbnail</div>
                    <div class="extra">Extra</div>
                </div>
            </header>
            <div class="content">
                {% for tool in category.tool_set.all %}
                <div class="tool">
                    <div class="select"><span class="checkbox"><i></i></span></div>
                    <div class="title">{{ tool.title }}</div>
                    <div class="description">{{ tool.description }}</div>
                    <div class="format"><img src="{{ tool.format.icon.url }}" alt="{{ tool.format.title }}"></div>
                    <div class="thumbnail">{% if tool.thumbnail %}<img src="{{ tool.thumbnail.url }}">{% endif %}</div>
                    <div class="extra"></div>
                </div>
                {% endfor %}
            </div>
        </section>
        {% endfor %}
    </div>
</main>

{% endblock %}
