* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background-color: #333333;
  color: #fff;
  font-size: 15px;
  line-height: 1.5; }
  body a {
    text-decoration: none;
    color: inherit; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0; }

body {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; }
  body > nav {
    background-color: #fff;
    height: 128px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: center;
    justify-content: space-between;
    padding: 0 32px;
    box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5); }
    body > nav #logo-wrapper img {
      height: 72px;
      padding: 12px 0; }
    body > nav #main-menu {
      display: flex;
      align-self: stretch; }
      body > nav #main-menu .menu-item {
        padding: 0 16px;
        color: #333333;
        text-transform: uppercase;
        font-weight: 700;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        margin: 0 2px; }
        body > nav #main-menu .menu-item:hover {
          background-color: #333333;
          color: #ffe416; }
        body > nav #main-menu .menu-item.active {
          background-color: #333333;
          color: #ffe416; }
      body > nav #main-menu #menu-button {
        display: none;
        border: none;
        background-color: #fff;
        padding: 0 16px;
        font-size: 2em;
        cursor: pointer; }
      @media screen and (max-width: 720px) {
        body > nav #main-menu .menu-item {
          display: none; }
        body > nav #main-menu #menu-button {
          display: block; } }
    body > nav #navigation-menu {
      background-color: #ffe416;
      color: #333333;
      flex-basis: calc(100% + 64px);
      margin: 0 -32px;
      height: 48px;
      text-align: left; }
      body > nav #navigation-menu .menu-item {
        padding: 0 16px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        cursor: pointer;
        display: inline-flex;
        height: 100%;
        align-items: center;
        border: 1px solid transparent; }
        body > nav #navigation-menu .menu-item:hover {
          background-color: #333333;
          color: #ffe416; }
        body > nav #navigation-menu .menu-item.active {
          background-color: #333333;
          color: #ffe416; }
    @media screen and (max-width: 720px) {
      body > nav {
        height: 72px;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px; }
        body > nav #logo-wrapper img {
          height: 56px; }
        body > nav #navigation-menu {
          display: none; } }

body > footer {
  margin-top: 16px;
  height: 48px;
  flex-basis: 100%;
  background-color: #ffe416;
  display: flex;
  padding: 0 32px;
  justify-content: flex-start;
  align-items: center; }
  body > footer a {
    padding: 0 16px;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    cursor: pointer;
    font-size: 1.1em;
    display: inline-flex;
    align-items: center; }
    body > footer a:hover {
      background-color: #414141;
      color: #ffe416; }
  @media screen and (max-width: 720px) {
    body > footer {
      height: auto;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center; }
      body > footer a {
        flex-basis: 100%;
        padding: 16px; } }

body #modal-fill {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1111; }
  body #modal-fill .modal {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center; }
    body #modal-fill .modal .logo-container {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      padding: 8px 24px;
      margin-bottom: 16px; }
      body #modal-fill .modal .logo-container img {
        height: 72px;
        padding: 12px 0; }
      body #modal-fill .modal .logo-container button {
        padding: 16px;
        font-size: 2em;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #fff; }
      @media screen and (max-width: 420px) {
        body #modal-fill .modal .logo-container img {
          height: 56px; } }
    body #modal-fill .modal > a {
      flex-basis: 100%;
      color: #414141;
      cursor: pointer;
      font-size: 1.2em;
      padding: 16px 0;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

main {
  padding: 32px;
  min-height: calc(100vh - 64px - 128px - 16px); }
  main section {
    width: 50%;
    background-color: #333333;
    padding: 32px;
    box-shadow: 0 2px 10px -3px rgba(0, 0, 0, 0.3);
    color: #fff;
    word-wrap: normal; }
    main section h1 {
      font-weight: 300;
      font-size: 3em;
      text-transform: Capitalize; }
    main section p strong {
      font-weight: 700; }
    @media screen and (max-width: 1080px) {
      main section {
        width: 80%; } }
    @media screen and (max-width: 720px) {
      main section {
        width: 100%; } }

/*# sourceMappingURL=contact-us.css.map */
