* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background-color: #333333;
  color: #fff;
  font-size: 13px;
  line-height: 1.5; }
  body a {
    text-decoration: none;
    color: inherit; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0; }

body {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; }
  body > nav {
    background-color: #fff;
    height: 128px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    justify-content: space-between;
    padding: 0 32px;
    box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5); }
    body > nav #logo-wrapper img {
      height: 72px;
      padding: 12px 0; }
    body > nav #main-menu {
      display: flex;
      align-self: stretch; }
      body > nav #main-menu .menu-item {
        padding: 0 16px;
        color: #333333;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border: 1px solid transparent; }
        body > nav #main-menu .menu-item:hover {
          border: 1px solid #333333; }
        body > nav #main-menu .menu-item.active {
          background-color: #333333;
          color: #ffe416; }
    body > nav #navigation-menu {
      background-color: #ffe416;
      color: #333333;
      flex-basis: calc(100% + 64px);
      margin: 0 -32px;
      height: 48px;
      text-align: left; }
      body > nav #navigation-menu .menu-item {
        padding: 0 16px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        cursor: pointer;
        display: inline-flex;
        height: 100%;
        align-items: center;
        border: 1px solid transparent; }
        body > nav #navigation-menu .menu-item:hover {
          border: 1px solid #333333; }
        body > nav #navigation-menu .menu-item.active {
          background-color: #333333;
          color: #ffe416; }

body > footer {
  margin-top: 16px;
  height: 48px;
  flex-basis: 100%;
  background-color: #ffe416;
  display: flex;
  padding: 0 32px;
  justify-content: flex-start;
  align-items: center; }
  body > footer a {
    margin: 0 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    cursor: pointer;
    font-size: 1.1em; }
    body > footer a:hover {
      color: black; }

body > main {
  flex-basis: 100%;
  display: flex;
  flex-wrap: wrap; }
  body > main .carousel {
    position: relative;
    width: 100%;
    height: 100%; }
    body > main .carousel .carousel-navigation {
      position: absolute;
      right: 10px;
      bottom: 10px;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 6px 10px;
      border-radius: 3px; }
      body > main .carousel .carousel-navigation button {
        display: inline-block;
        margin: 3px;
        padding: 0;
        width: 12px;
        height: 12px;
        background-color: transparent;
        border: 2px solid rgba(255, 255, 255, 0.8);
        outline: none;
        cursor: pointer;
        border-radius: 50%; }
        body > main .carousel .carousel-navigation button:hover {
          background-color: rgba(255, 255, 255, 0.5); }
        body > main .carousel .carousel-navigation button.active {
          background-color: rgba(255, 255, 255, 0.8); }
  body > main #intro-container {
    position: relative;
    flex-basis: 100%;
    height: 50vh;
    margin-bottom: 16px; }
    body > main #intro-container .intro {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%; }
      body > main #intro-container .intro .description {
        width: 36%;
        height: 100%;
        padding: 32px;
        position: absolute;
        left: 0;
        top: 0;
        overflow-y: auto;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: justify; }
        body > main #intro-container .intro .description h1 {
          font-weight: 500;
          font-size: 2em;
          text-transform: Capitalize; }
        body > main #intro-container .intro .description p strong {
          font-weight: 700; }
      body > main #intro-container .intro .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center; }
    @media screen and (max-width: 1080px) {
      body > main #intro-container .intro .description h1 {
        font-weight: 700;
        font-size: 1.5em;
        text-transform: Capitalize; }
      body > main #intro-container .intro .description p {
        font-weight: 700; } }
    @media screen and (max-width: 720px) {
      body > main #intro-container {
        height: auto; }
        body > main #intro-container .intro {
          position: relative; }
          body > main #intro-container .intro .description {
            position: relative;
            width: auto;
            padding: 32px;
            left: 0;
            top: 0;
            overflow-y: auto;
            background-color: rgba(0, 0, 0, 0.8);
            text-align: justify; }
            body > main #intro-container .intro .description h1 {
              font-weight: 700;
              font-size: 2em;
              text-transform: Capitalize; }
            body > main #intro-container .intro .description p strong {
              font-weight: 700; }
          body > main #intro-container .intro .background-image {
            width: 100%;
            height: 50vh;
            object-fit: cover;
            object-position: center center; }
        body > main #intro-container .carousel-navigation {
          top: 50vh;
          left: 50%;
          bottom: auto;
          width: auto;
          transform: translate(-50%, -100%);
          text-align: center; } }
  body > main #download-handbook-container {
    flex-basis: 60%; }
    body > main #download-handbook-container .download-handbook > header {
      margin-bottom: 16px;
      padding: 0 16px; }
      body > main #download-handbook-container .download-handbook > header .title {
        text-transform: uppercase;
        font-weight: 400;
        min-height: 56px;
        display: flex;
        align-items: center; }
      body > main #download-handbook-container .download-handbook > header .description > p {
        margin: 0; }
    body > main #download-handbook-container .download-handbook .handbook-container {
      padding: 0 12px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      body > main #download-handbook-container .download-handbook .handbook-container .handbook {
        flex-basis: calc(50% - 8px);
        margin: 4px;
        display: flex;
        background-color: #4d4d4d;
        height: 276.64px; }
        body > main #download-handbook-container .download-handbook .handbook-container .handbook .preview {
          width: 208px;
          flex-basis: 208px;
          height: 276.64px;
          object-fit: cover;
          object-position: center center; }
        body > main #download-handbook-container .download-handbook .handbook-container .handbook .details {
          padding: 0 16px; }
          body > main #download-handbook-container .download-handbook .handbook-container .handbook .details .title {
            font-weight: 300;
            font-size: 1.6em;
            margin: 0;
            height: 48px;
            display: flex;
            align-items: center; }
          body > main #download-handbook-container .download-handbook .handbook-container .handbook .details .description {
            height: calc(100% - 48px - 48px);
            overflow-y: auto;
            margin: 0;
            color: rgba(255, 255, 255, 0.5); }
            body > main #download-handbook-container .download-handbook .handbook-container .handbook .details .description > p {
              margin: 0; }
          body > main #download-handbook-container .download-handbook .handbook-container .handbook .details .action-buttons {
            height: 48px;
            display: flex;
            align-items: center; }
            body > main #download-handbook-container .download-handbook .handbook-container .handbook .details .action-buttons a {
              border: none;
              outline: none;
              background-color: #ffe416;
              color: #333333;
              text-transform: uppercase;
              display: inline-flex;
              align-items: center;
              padding: 0 16px;
              cursor: pointer; }
              body > main #download-handbook-container .download-handbook .handbook-container .handbook .details .action-buttons a i {
                margin-right: 8px;
                font-size: 1.67em; }
    @media screen and (max-width: 1080px) {
      body > main #download-handbook-container {
        flex-basis: 100%; }
        body > main #download-handbook-container .download-handbook .handbook-container {
          display: block; } }
  body > main #side-content {
    flex-basis: 40%;
    flex-grow: 0;
    display: flex; }
    body > main #side-content #highlights, body > main #side-content #links {
      flex-basis: calc(50% - 2px);
      border-left: 2px solid rgba(255, 255, 255, 0.1);
      height: 100%; }
      body > main #side-content #highlights > header, body > main #side-content #links > header {
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 16px; }
        body > main #side-content #highlights > header h2, body > main #side-content #links > header h2 {
          text-transform: uppercase; }
      body > main #side-content #highlights > .content, body > main #side-content #links > .content {
        padding: 0 16px;
        height: calc(100% - 48px - 10px);
        overflow-y: auto;
        margin-bottom: 10px; }
    body > main #side-content #links > .content a {
      display: block;
      width: 100%;
      color: #ffe416;
      padding: 8px 16px; }
      body > main #side-content #links > .content a:hover {
        background-color: #ffe416;
        color: #333333; }
    @media screen and (max-width: 768px) {
      body > main #side-content #highlights > header h2, body > main #side-content #links > header h2 {
        font-size: 1.2em; } }
    @media screen and (max-width: 720px) {
      body > main #side-content #highlights > header h2, body > main #side-content #links > header h2 {
        font-size: 1.2em; } }
    @media screen and (max-width: 425px) {
      body > main #side-content {
        flex-basis: 40%;
        flex-grow: 0;
        display: flex; }
        body > main #side-content #highlights, body > main #side-content #links {
          flex-basis: calc(50% - 2px);
          border-left: 2px solid rgba(255, 255, 255, 0.1);
          height: 100%; }
          body > main #side-content #highlights > header, body > main #side-content #links > header {
            height: 48px;
            display: flex;
            align-items: center;
            padding: 0 16px; }
            body > main #side-content #highlights > header h2, body > main #side-content #links > header h2 {
              text-transform: uppercase; }
          body > main #side-content #highlights > .content, body > main #side-content #links > .content {
            padding: 0 16px;
            height: calc(100% - 48px - 10px);
            overflow-y: auto;
            margin-bottom: 10px; }
        body > main #side-content #links > .content a {
          display: block;
          width: 100%;
          color: #ffe416;
          padding: 8px 16px; }
          body > main #side-content #links > .content a:hover {
            background-color: #ffe416;
            color: #333333; } }
    @media screen and (max-width: 1080px) {
      body > main #side-content {
        flex-basis: 100%;
        margin-top: 24px; } }

/*# sourceMappingURL=home.css.map */
