* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background-color: #f5f5f5;
  color: #414141;
  font-size: 13px;
  line-height: 1.5; }
  body a {
    text-decoration: none;
    color: inherit; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0; }

body {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; }
  body > nav {
    background-color: #fff;
    height: 80px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5); }
    body > nav #logo-wrapper img {
      height: 56px; }
    body > nav #main-menu {
      display: flex;
      align-self: stretch; }
      body > nav #main-menu .menu-item {
        padding: 0 16px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        cursor: pointer;
        display: inline-flex;
        align-items: center; }
        body > nav #main-menu .menu-item:hover {
          color: #1564c9; }
        body > nav #main-menu .menu-item.active {
          background-color: #1564c9;
          color: #fff; }

body main {
  flex-basis: 100%;
  margin: 32px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  body main > header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 16px; }
    body main > header h2 {
      font-weight: 300; }
      body main > header h2 strong {
        font-weight: 400; }
    body main > header .action-buttons button {
      padding: 4px 10px;
      border: none;
      background-color: transparent;
      font-weight: 300;
      cursor: pointer;
      text-transform: uppercase;
      display: flex;
      align-items: center;
      font-size: 1.1em;
      outline: none;
      border: 1px solid transparent;
      transition: 0.2s all ease-in-out; }
      body main > header .action-buttons button i {
        margin-right: 8px;
        font-size: 1.6em; }
      body main > header .action-buttons button:hover {
        border-color: #1564c9; }
  body main > .content .checkbox {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.16);
    border-radius: 2px;
    cursor: pointer; }
    body main > .content .checkbox i {
      position: absolute;
      display: inline-block;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      width: 0;
      height: 0;
      background-color: rgba(0, 0, 0, 0.05);
      transition: 0.2s all ease-in-out;
      opacity: 0; }
    body main > .content .checkbox.checked:before {
      content: '';
      position: absolute;
      bottom: 2px;
      left: 3px;
      width: 2px;
      height: 10px;
      background-color: #1564c9;
      transform: rotate(-45deg);
      transform-origin: 0 100%; }
    body main > .content .checkbox.checked:after {
      content: '';
      position: absolute;
      bottom: 2px;
      width: 2px;
      height: 22px;
      left: 3px;
      background-color: #1564c9;
      transform: rotate(36deg);
      transform-origin: 0 100%; }
    body main > .content .checkbox.clicked i {
      width: 48px;
      height: 48px;
      opacity: 1; }
      body main > .content .checkbox.clicked i.fading {
        width: 64px;
        height: 64px;
        opacity: 0; }
  body main > .content > header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1564c9;
    color: #fff;
    padding: 0 16px;
    text-transform: uppercase; }
    body main > .content > header .checkbox {
      border: 2px solid rgba(255, 255, 255, 0.24); }
      body main > .content > header .checkbox.checked:after, body main > .content > header .checkbox.checked:before {
        background-color: #fff; }
  body main > .content > .content > div {
    padding: 0 16px;
    min-height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    body main > .content > .content > div:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.03); }
  body main > .content .select {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 48px; }
  body main > .content .title {
    flex-basis: 16%; }
  body main > .content .description {
    flex-basis: calc(34% - 48px); }
  body main > .content .format {
    flex-basis: 10%; }
  body main > .content .thumbnail {
    flex-basis: 15%; }
  body main > .content .extra {
    flex-basis: 15%; }

/*# sourceMappingURL=tools-and-templates.css.map */
