* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background-color: #414141;
  color: #fff;
  font-size: 13px;
  line-height: 1.5; }
  body a {
    text-decoration: none;
    color: inherit; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0; }

body {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; }
  body > nav {
    background-color: #fff;
    height: 128px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    justify-content: space-between;
    padding: 0 32px;
    box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5); }
    body > nav #logo-wrapper img {
      height: 72px;
      padding: 12px 0; }
    body > nav #main-menu {
      display: flex;
      align-self: stretch; }
      body > nav #main-menu .menu-item {
        padding: 0 16px;
        color: #414141;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border: 1px solid transparent; }
        body > nav #main-menu .menu-item:hover {
          border: 1px solid #414141; }
        body > nav #main-menu .menu-item.active {
          background-color: #414141;
          color: #ffe416; }
    body > nav #navigation-menu {
      background-color: #ffe416;
      color: #414141;
      flex-basis: calc(100% + 64px);
      margin: 0 -32px;
      height: 48px;
      text-align: center; }
      body > nav #navigation-menu .menu-item {
        padding: 0 16px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        cursor: pointer;
        display: inline-flex;
        height: 100%;
        align-items: center;
        border: 1px solid transparent; }
        body > nav #navigation-menu .menu-item:hover {
          border: 1px solid #414141; }
        body > nav #navigation-menu .menu-item.active {
          background-color: #414141;
          color: #ffe416; }

body main {
  flex-basis: 100%;
  margin: 16px 24px 0 24px;
  border: 1px solid rgba(0, 0, 0, 0.1); }
  body main > header {
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #414141;
    color: #fff;
    padding: 0 16px; }
    body main > header #navigation-tabs a {
      padding: 0 16px;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-bottom: 2px solid transparent;
      text-transform: uppercase;
      cursor: pointer; }
      body main > header #navigation-tabs a.active {
        color: #ffe416;
        border-bottom: 2px solid #ffe416; }
    body main > header .action-buttons {
      border: 1px solid #ffe416; }
      body main > header .action-buttons button {
        padding: 4px 10px;
        border: none;
        background-color: transparent;
        font-weight: 300;
        color: #fff;
        cursor: pointer;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        font-size: 1.1em;
        outline: none;
        border: 1px solid transparent;
        transition: 0.2s all ease-in-out; }
        body main > header .action-buttons button i {
          margin-right: 8px;
          font-size: 1.6em; }
        body main > header .action-buttons button #selection-count {
          font-size: 1.1em;
          font-weight: 300; }
          body main > header .action-buttons button #selection-count:before {
            content: ': '; }
        body main > header .action-buttons button:hover {
          border-color: #ffe416; }
  body main > .content {
    height: calc(100vh - 128px - 64px - 16px - 2px);
    overflow-y: scroll; }
    body main > .content section {
      min-height: calc(100vh - 128px - 64px - 16px - 2px); }
      body main > .content section .checkbox {
        user-select: none;
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid rgba(0, 0, 0, 0.16);
        border-radius: 2px;
        cursor: pointer; }
        body main > .content section .checkbox i {
          position: absolute;
          display: inline-block;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
          width: 0;
          height: 0;
          background-color: rgba(0, 0, 0, 0.05);
          transition: 0.2s all ease-in-out;
          opacity: 0; }
        body main > .content section .checkbox.checked:before {
          content: '';
          position: absolute;
          bottom: 2px;
          left: 3px;
          width: 2px;
          height: 10px;
          background-color: #ffe416;
          transform: rotate(-45deg);
          transform-origin: 0 100%; }
        body main > .content section .checkbox.checked:after {
          content: '';
          position: absolute;
          bottom: 2px;
          width: 2px;
          height: 22px;
          left: 3px;
          background-color: #ffe416;
          transform: rotate(36deg);
          transform-origin: 0 100%; }
        body main > .content section .checkbox.clicked i {
          width: 48px;
          height: 48px;
          opacity: 1; }
          body main > .content section .checkbox.clicked i.fading {
            width: 64px;
            height: 64px;
            opacity: 0; }
      body main > .content section > header {
        height: 96px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        background-color: #ffe416;
        color: #fff;
        padding: 0 16px;
        border-bottom: 2px solid rgba(255, 255, 255, 0.1);
        position: sticky;
        top: 0;
        z-index: 1; }
        body main > .content section > header .section-title {
          flex-basis: 100%;
          height: 56px;
          display: flex;
          align-items: center;
          padding: 0 10px; }
          body main > .content section > header .section-title h3 {
            font-size: 2em; }
        body main > .content section > header .table-header {
          flex-basis: 100%;
          height: 32px;
          display: flex;
          text-transform: uppercase;
          align-items: center;
          justify-content: space-between; }
          body main > .content section > header .table-header .checkbox {
            border: 2px solid rgba(255, 255, 255, 0.24); }
            body main > .content section > header .table-header .checkbox.checked:after, body main > .content section > header .table-header .checkbox.checked:before {
              background-color: #fff; }
      body main > .content section > .content > div {
        padding: 10px 16px;
        min-height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between; }
        body main > .content section > .content > div:nth-child(even) {
          background-color: rgba(0, 0, 0, 0.1); }
      body main > .content section > .content .format img {
        width: 32px;
        height: 32px;
        object-fit: contain;
        object-position: center center; }
      body main > .content section > .content .format label {
        display: block;
        width: 100%;
        font-size: 0.8em;
        text-transform: uppercase;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.5); }
      body main > .content section > .content .title {
        font-weight: 700;
        font-size: 1.1em; }
      body main > .content section > .content .description {
        text-align: justify;
        color: #fff; }
      body main > .content section > .content .thumbnail img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center; }
      body main > .content section .select {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-basis: 48px; }
        body main > .content section .select span {
          border: 2px solid rgba(255, 255, 255, 0.5); }
      body main > .content section .title {
        flex-basis: 20%; }
      body main > .content section .description {
        flex-basis: 34%; }
      body main > .content section .format {
        flex-basis: 10%;
        text-align: center; }
      body main > .content section .thumbnail {
        flex-basis: 14%;
        text-align: center; }
      body main > .content section .extra {
        flex-basis: 10%;
        text-align: center; }
        body main > .content section .extra a {
          display: inline-flex;
          align-items: center;
          justify-content: center;
          width: 48px;
          height: 48px;
          border-radius: 50%;
          cursor: pointer; }
          body main > .content section .extra a i {
            font-size: 2em; }
          body main > .content section .extra a:hover {
            background-color: rgba(0, 0, 0, 0.06); }

/*# sourceMappingURL=tool-list.css.map */
