* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

body {
  padding: 0;
  margin: 0;
  background-color: #333333;
  color: #fff;
  font-size: 15px;
  line-height: 1.5; }
  body a {
    text-decoration: none;
    color: inherit; }
  body h1, body h2, body h3, body h4, body h5, body h6 {
    margin: 0; }

body {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: space-between;
  flex-wrap: wrap; }
  body > nav {
    background-color: #fff;
    height: 128px;
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: space-between;
    justify-content: space-between;
    padding: 0 32px;
    box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5); }
    body > nav #logo-wrapper img {
      height: 72px;
      padding: 12px 0; }
    body > nav #main-menu {
      display: flex;
      align-self: stretch; }
      body > nav #main-menu .menu-item {
        padding: 0 16px;
        color: #333333;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border: 1px solid transparent; }
        body > nav #main-menu .menu-item:hover {
          background-color: #333333;
          color: #ffe416; }
        body > nav #main-menu .menu-item.active {
          background-color: #333333;
          color: #ffe416; }
      body > nav #main-menu #menu-button {
        display: none;
        border: none;
        background-color: #fff;
        padding: 0 16px;
        font-size: 2em;
        cursor: pointer; }
      @media screen and (max-width: 720px) {
        body > nav #main-menu .menu-item {
          display: none; }
        body > nav #main-menu #menu-button {
          display: block; } }
    body > nav #navigation-menu {
      background-color: #ffe416;
      color: #333333;
      flex-basis: calc(100% + 64px);
      margin: 0 -32px;
      height: 48px;
      text-align: left; }
      body > nav #navigation-menu .menu-item {
        padding: 0 16px;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 0.06em;
        cursor: pointer;
        display: inline-flex;
        height: 100%;
        align-items: center;
        border: 1px solid transparent; }
        body > nav #navigation-menu .menu-item:hover {
          background-color: #333333;
          color: #ffe416; }
        body > nav #navigation-menu .menu-item.active {
          background-color: #333333;
          color: #ffe416; }
    @media screen and (max-width: 720px) {
      body > nav {
        height: 72px;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px; }
        body > nav #logo-wrapper img {
          height: 56px; }
        body > nav #navigation-menu {
          display: none; } }

body > footer {
  margin-top: 16px;
  height: 48px;
  flex-basis: 100%;
  background-color: #ffe416;
  display: flex;
  padding: 0 32px;
  justify-content: flex-start;
  align-items: center; }
  body > footer a {
    padding: 0 16px;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 700;
    cursor: pointer;
    font-size: 1.1em;
    display: inline-flex;
    align-items: center; }
    body > footer a:hover {
      background-color: #414141;
      color: #ffe416; }
  @media screen and (max-width: 720px) {
    body > footer {
      height: auto;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center; }
      body > footer a {
        flex-basis: 100%;
        padding: 16px; } }

body #modal-fill {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: 1111; }
  body #modal-fill .modal {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center; }
    body #modal-fill .modal .logo-container {
      flex-basis: 100%;
      display: flex;
      justify-content: space-between;
      padding: 8px 24px;
      margin-bottom: 16px; }
      body #modal-fill .modal .logo-container img {
        height: 72px;
        padding: 12px 0; }
      body #modal-fill .modal .logo-container button {
        padding: 16px;
        font-size: 2em;
        border: none;
        outline: none;
        cursor: pointer;
        background-color: #fff; }
      @media screen and (max-width: 420px) {
        body #modal-fill .modal .logo-container img {
          height: 56px; } }
    body #modal-fill .modal > a {
      flex-basis: 100%;
      color: #414141;
      cursor: pointer;
      font-size: 1.2em;
      padding: 16px 0;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3); }

body {
  background-color: #fff; }
  body main {
    flex-basis: 100%;
    margin: 0; }
    body main .checkbox {
      user-select: none;
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      border: 2px solid rgba(0, 0, 0, 0.16);
      border-radius: 2px;
      cursor: pointer; }
      body main .checkbox i {
        position: absolute;
        display: inline-block;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0.05);
        transition: 0.2s all ease-in-out;
        opacity: 0; }
      body main .checkbox.checked:before {
        content: '';
        position: absolute;
        bottom: 2px;
        left: 3px;
        width: 2px;
        height: 10px;
        background-color: #338EC9;
        transform: rotate(-45deg);
        transform-origin: 0 100%; }
      body main .checkbox.checked:after {
        content: '';
        position: absolute;
        bottom: 2px;
        width: 2px;
        height: 22px;
        left: 3px;
        background-color: #338EC9;
        transform: rotate(36deg);
        transform-origin: 0 100%; }
      body main .checkbox.clicked i {
        width: 48px;
        height: 48px;
        opacity: 1; }
        body main .checkbox.clicked i.fading {
          width: 64px;
          height: 64px;
          opacity: 0; }
    body main > header {
      height: calc(56px + 32px);
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      background-color: #333333;
      color: #fff;
      padding: 0 16px;
      position: relative; }
      body main > header > button {
        position: absolute;
        width: 32px;
        height: 32px;
        top: calc(24px - 16px);
        z-index: 1;
        font-size: 1.5em;
        background-color: rgba(0, 0, 0, 0.67);
        border: none;
        color: #fff;
        outline: none;
        border-radius: 50%;
        padding: 0;
        cursor: pointer; }
        body main > header > button#scroll-left-btn {
          left: 10px; }
        body main > header > button#scroll-right-btn {
          right: calc(240px + 16px); }
      body main > header #navigation-tabs {
        height: 48px;
        flex-basis: calc(100% - 240px - 64px);
        width: calc(100vw - 240px - 64px);
        margin: 0 32px;
        overflow: hidden; }
        body main > header #navigation-tabs .scroll-wrapper {
          height: 100%; }
          body main > header #navigation-tabs .scroll-wrapper a {
            padding: 10px 16px 14px 16px;
            display: inline-flex;
            border-bottom: 2px solid transparent;
            text-transform: uppercase;
            align-items: center;
            text-align: center;
            cursor: pointer; }
            body main > header #navigation-tabs .scroll-wrapper a.active {
              color: #ffe416;
              border-bottom: 2px solid #ffe416; }
      body main > header .action-buttons {
        border-left: 1px solid #aaa;
        transition: 0.2s all ease-in-out;
        width: 240px;
        display: flex;
        justify-content: center; }
        body main > header .action-buttons button {
          padding: 4px 10px;
          background-color: transparent;
          font-weight: 300;
          color: #fff;
          text-transform: uppercase;
          display: inline-flex;
          align-items: center;
          outline: none;
          border: 1px solid transparent;
          cursor: pointer; }
          body main > header .action-buttons button i {
            margin-right: 8px;
            font-size: 1.4em; }
          body main > header .action-buttons button #selection-count {
            font-weight: 300;
            margin-left: 6px; }
        body main > header .action-buttons:hover button {
          background-color: #ffe416;
          color: #333333; }
      body main > header .table-header {
        flex-basis: calc(100% + 32px);
        height: 40px;
        display: flex;
        text-transform: uppercase;
        align-items: center;
        justify-content: space-between;
        background-color: #666666;
        margin: 0 -16px;
        padding: 0 16px; }
        body main > header .table-header .select {
          visibility: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-basis: 48px; }
        body main > header .table-header .title {
          flex-basis: 24%; }
        body main > header .table-header .description {
          flex-basis: 34%; }
        body main > header .table-header .format {
          flex-basis: 14%;
          text-align: center; }
        body main > header .table-header .extra {
          flex-basis: 10%;
          text-align: center; }
          body main > header .table-header .extra a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #414141;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            cursor: pointer; }
            body main > header .table-header .extra a i {
              font-size: 2em; }
            body main > header .table-header .extra a:hover {
              background-color: rgba(0, 0, 0, 0.06); }
    body main > .content {
      height: calc(100vh - 128px - 56px - 32px - 48px);
      border-bottom: 2px solid rgba(0, 0, 0, 0.2);
      overflow-y: scroll; }
      body main > .content section {
        background-color: #fff; }
        body main > .content section > header {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-between;
          background-color: #666666;
          color: #fff;
          padding: 10px 16px;
          z-index: 1; }
          body main > .content section > header .section-title {
            flex-basis: 100%;
            display: flex;
            align-items: center; }
            body main > .content section > header .section-title h3 {
              margin-left: 10px; }
        body main > .content section > .content > div {
          padding: 10px 16px;
          min-height: 64px;
          display: flex;
          align-items: center;
          justify-content: space-between; }
          body main > .content section > .content > div:nth-child(even) {
            background-color: rgba(0, 0, 0, 0.1); }
        body main > .content section > .content .format img {
          width: 32px;
          height: 32px;
          object-fit: contain;
          object-position: center center; }
        body main > .content section > .content .format label {
          display: block;
          width: 100%;
          font-size: 0.8em;
          text-transform: uppercase;
          font-weight: 700;
          color: rgba(0, 0, 0, 0.5); }
        body main > .content section > .content .title a {
          font-weight: 700;
          color: #333333;
          font-size: 1.1em; }
        body main > .content section > .content .description {
          text-align: justify;
          color: #333333; }
        body main > .content section > .content .thumbnail img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center center; }
        body main > .content section .select {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-basis: 48px; }
          body main > .content section .select span {
            border: 2px solid rgba(0, 0, 0, 0.5); }
        body main > .content section .title {
          flex-basis: 24%; }
        body main > .content section .description {
          flex-basis: 34%; }
        body main > .content section .format {
          flex-basis: 14%;
          text-align: center; }
        body main > .content section .thumbnail {
          flex-basis: 14%;
          text-align: center; }
        body main > .content section .extra {
          flex-basis: 10%;
          text-align: center; }
          body main > .content section .extra a {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #414141;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            cursor: pointer; }
            body main > .content section .extra a i {
              font-size: 2em; }
            body main > .content section .extra a:hover {
              background-color: rgba(0, 0, 0, 0.06); }
        body main > .content section:last-child {
          min-height: calc(100vh - 128px - 64px - 16px - 2px); }
  body > footer {
    margin: 0; }

/*# sourceMappingURL=tool-list.css.map */
