 
$nav-height: 128px;
 
body {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
     
    >nav {
        background-color: #fff;
        height: $nav-height;
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: space-between;
        justify-content: space-between;
        padding: 0 32px;
        box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);


        #logo-wrapper {
            img {
                height: $nav-height - 56px;
                padding: 12px 0;
            }
        }

        #main-menu {
            display: flex;
            align-self: stretch;

            .menu-item {
                padding: 0 16px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.06em;
                cursor: pointer;
                display: inline-flex;
                align-items: center;

                &:hover {
                    //background-color: $primary-color;
                    //color: #fff;
                    color: $primary-color;
                     
                }

                &.active {
                    background-color: $primary-color;
                    color: #fff;
                }

            }
        }

        #navigation-menu {
            background-color: #f0f0f0;
            flex-basis: calc(100% + 64px);
            margin: 0 -32px;
            text-align: center;
             
            .menu-item {
                padding: 0 16px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.06em;
                cursor: pointer;
                display: inline-flex;
                height: 48px;
                align-items: center;

                &:hover {
                    //background-color: $primary-color;
                    //color: #fff;
                    color: $primary-color;
                     
                }

                &.active {
                    background-color: $primary-color;
                    color: #fff;
                }

            }

        }
    }
}

