@import 'base';
@import 'nav';
 

body {
    main {
        flex-basis: 100%;
        margin: 32px;
        border: 1px solid rgba(0, 0, 0, 0.1);

        >header {
            height: 64px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #fff;
            padding: 0 16px;

            h2 {
                font-weight: 300;

                strong {
                    font-weight: 400;
                }
            }

            .action-buttons {
                button {
                    padding: 4px 10px;
                    border: none;
                    background-color: transparent;
                    font-weight: 300;
                    cursor: pointer;
                    text-transform: uppercase;
                    display: flex;
                    align-items: center;
                    font-size: 1.1em;
                    outline: none;
                    border: 1px solid transparent;
                    transition: 0.2s all ease-in-out;

                    i {
                        margin-right: 8px;
                        font-size: 1.6em;
                    }

                    &:hover {
                        border-color: $primary-color;
                        //background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }

        }

        >.content {
            .checkbox {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                border: 2px solid rgba(0, 0, 0, 0.16);
                border-radius: 2px;
                cursor: pointer;

                i {
                    position: absolute;
                    display: inline-block;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    border-radius: 50%;
                    width: 0;
                    height: 0;
                    background-color: rgba(0, 0, 0, 0.05);
                    transition: 0.2s all ease-in-out;
                    opacity: 0;
                }

                &.checked {
                    &:before {
                        content: '';
                        position: absolute;
                        bottom: 2px;
                        left: 3px;
                        width: 2px;
                        height: 10px;
                        background-color: $primary-color;
                        transform: rotate(-45deg);
                        transform-origin: 0 100%;
                    }

                    &:after {
                        content: '';
                        position: absolute;
                        bottom: 2px;
                        width: 2px;
                        height: 22px;
                        left: 3px;
                        background-color: $primary-color;
                        transform: rotate(36deg);
                        transform-origin: 0 100%;
                    }

                }

                &.clicked {
                    i {
                        width: 48px;
                        height: 48px;
                        opacity: 1;

                        &.fading {
                            width: 64px;
                            height: 64px;
                            opacity: 0;
                        }
                    }
                }
                
            }
             
            >header {
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: $primary-color;
                color: #fff;
                padding: 0 16px;
                text-transform: uppercase;

                .checkbox {
                    border: 2px solid rgba(255, 255, 255, 0.24);

                    &.checked {
                        &:after, &:before {
                            background-color: #fff;
                        }

                        &.checked {
                            //border-color: #fff; 
                        }
                    }

                }

            }
            >.content {
                 
                 
                >div {
                    padding: 0 16px;
                    min-height: 48px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:nth-child(even) {
                        background-color: rgba(0, 0, 0, 0.03);
                    }
                }
            }


            .select { 
                display: flex;
                align-items: center;
                justify-content: center;
                flex-basis: 48px; 
            }
            .title { flex-basis: 16%; }
            .description{ flex-basis: calc(34% - 48px); }
            .format{ flex-basis: 10%; }
            .thumbnail{ flex-basis: 15%; }
            .extra{ flex-basis: 15%; }
        }
    }
}
