#download-handbook-container {
    flex-basis: 60%;

    .download-handbook {
        >header {
            margin-bottom: 16px;
            padding: 0 16px;
            display: flex;

            .preview {
                height: 100%;
                flex-basis: 40%;
                width: 40%;
                object-fit: cover;
                object-position: center center;
            }

            .details {
                padding: 16px;

                .title {
                    text-transform: uppercase;
                    font-weight: 500;
                    min-height: 56px;
                    display: flex;
                    align-items: center;
                    color: $primary-color;
                }

                .description {
                    max-height: calc(100% - 48px - 56px);
                    overflow-y: auto;
                    text-align: justify;

                    >p {
                        margin: 0;
                    }
                }

                .action-buttons {
                    height: 48px;
                    display: flex;
                    align-items: flex-end;

                    a {
                        border: none;
                        outline: none;
                        background-color: $primary-color;
                        color: get_text_color_on_primary();
                        text-transform: uppercase;
                        display: inline-flex;
                        align-items: center;
                        padding: 0 16px;
                        cursor: pointer;
                        transition: all 0.2s ease-in-out;

                        i {
                            margin-right: 8px;
                            font-size: 1.67em;

                        }
                        &:hover{
                            transform: translateY(-2px);
                        }
                    }
                }
            }
        }

        .handbook-container {
            padding: 0 12px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .handbook {
                flex-basis: calc(50% - 8px);
                margin: 4px;
                display: flex;
                @include background-color-secondary;
                $preview-width: 40%;
                height: 320px;

                .preview {
                    width: $preview-width;
                    flex-basis: $preview-width;
                    height: auto;
                    object-fit: contain;
                    padding-top: 16px;
                    object-position: top center;
                }

                .details {
                    flex-basis: 60%;
                    padding: 0 16px;

                    .title {
                        font-weight: 300;
                        font-size: 1.6em;
                        margin: 0;
                        height: 48px;
                        display: flex;
                        align-items: center;
                    }

                    .description {
                        height: calc(100% - 48px - 48px);
                        overflow-y: auto;
                        margin: 0;
                        @include label-color;

                        > p {
                            margin: 0;
                        }
                    }

                    .action-buttons {
                        height: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        a {
                            border: none;
                            outline: none;
                            background-color: $primary-color;
                            color: get_text_color_on_primary();
                            text-transform: uppercase;
                            display: inline-flex;
                            align-items: center;
                            padding: 0 16px;
                            cursor: pointer;
                            transition: all 0.2s ease-in-out;

                            i {
                                margin-right: 8px;
                                font-size: 1.67em;

                            }
                            &:hover{
                                transform: translateY(-2px);
                            }
                        }
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1366px) {
        flex-basis: 75%;
    }
    @media screen and (max-width: 1080px) {
        flex-basis: 100%;
    }
    @media screen and (max-width: 720px) {
        .download-handbook {
            >header {
                flex-wrap: wrap;

                .preview {
                    width: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .handbook-container {
                .handbook {
                    flex-basis: 100%;
                }
            }
        }


    }
}
