#network-and-contact {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    min-height: calc(100vh - 128px - 48px - 24px);
    padding: 24px;
    padding-bottom: 12px;
    margin: auto;

    >section {
        padding: 24px;
        background-color: rgba(255, 255, 255, 0.1);

        >header {
            display: flex;
            align-items: center;

            h2 {
                text-transform: uppercase;
                color: $primary-color;
                font-weight: 500;
            }
        }
    }

    .news-and-updates {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        > .content {
            .input-group {
                width: 100%;
                margin-bottom: 24px;
                padding: 10px 0;

                label {
                    width: 100%;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    color: rgba(255, 255, 255, 0.7);
                    font-size: 0.9em;
                }

                input {
                    display: block;
                    outline: none;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
                    width: 100%;
                    font-size: 1.33em;
                    color: #fff;
                    padding: 6px 0;

                    &:focus {
                        border-bottom-color: $primary-color;
                    }
                }

                select {
                    display: block;
                    width: 100%;
                    padding: 6px 0;
                    outline: none;
                    color: #fff;
                    font-size: 1.33em;
                    background-color: transparent;
                    border: none;
                    border-bottom: 2px solid rgba(255, 255, 255, 0.2);

                    option {
                        color: #414141;
                    }
                }
            }

            button {
                display: inline-block;
                background-color: $primary-color;
                border: none;
                outline: none;
                padding: 8px 12px;
                text-transform: uppercase;
                font-size: 1.2em;
                cursor: pointer;
            }
        }
    }

    .contact-us {
        margin-left: 16px;
        width: 360px;
        flex-shrink: 0;
        text-align: justify;

        p {
            strong {
                font-weight: 700;
            }
        }
    }

    @media screen and (max-width: 720px) {
        flex-direction: column;

        >.news-and-updates {
            width: 100%;
        }

        >.contact-us {
            width: 100%;
            margin-top: 16px;
            margin-left: 0;
        }
    }
}

#faq-page {
    width: 100%;
    min-height: calc(100vh - 128px - 48px - 24px);
    padding: 24px;
    padding-bottom: 12px;
    margin: auto;

    >header {
        display: flex;
        align-items: center;

        h2 {
            text-transform: uppercase;
            color: $primary-color;
            font-weight: 500;
        }
    }

    .content {
        .link {
            font-weight: 600;
            text-decoration: underline;
        }
    }
}
