#side-content {
    flex-basis: 40%;
    flex-grow: 0;
    display: flex;

    #highlights, #links {
        flex-basis: calc(50% - 2px);
        border-left: 2px solid get_separator_color();
        height: 100%;

        >header {
            height: 48px;
            display: flex;
            align-items: center;
            padding: 0 16px;

            h2 {
                text-transform: uppercase;
                color: $primary-color;
                font-weight: 500;
            }


        }

        >.content {
            padding: 0 16px;
            height: calc(100% - 48px - 10px);
            overflow-y: auto;
            margin-bottom: 10px;
        }


    }
    #links {
        >.content {
            a {
                display: block;
                width: 100%;
                color: $primary-color;
                padding: 8px 16px;

                &:hover {
                    background-color: $primary-color;
                    color: get_text_color_on_primary();
                }
            }
        }
    }

    @media screen and (max-width: 768px) {

        #highlights, #links {

            >header {
                h2 {
                    font-size: 1.2em;
                }
            }
        }

    }
    @media screen and (max-width: 720px) {

        #highlights, #links {

            >header {
                h2 {
                    font-size: 1.2em;
                }
            }
        }

    }
    @media screen and (max-width: 425px) {

        flex-basis: 40%;
        flex-grow: 0;
        display: flex;

        #highlights, #links {
            flex-basis: calc(50% - 2px);
            border-left: 2px solid get_separator_color();
            height: 100%;

            >header {
                height: 48px;
                display: flex;
                align-items: center;
                padding: 0 16px;

                h2 {
                    text-transform: uppercase;
                }


            }

            >.content {
                padding: 0 16px;
                height: calc(100% - 48px - 10px);
                overflow-y: auto;
                margin-bottom: 10px;
            }


        }
        #links {
            >.content {
                a {
                    display: block;
                    width: 100%;
                    color: $primary-color;
                    padding: 8px 16px;

                    &:hover {
                        background-color: $primary-color;
                        color: get_text_color_on_primary();
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1366px) {
        margin-top: 24px;
        flex-basis: 25%;
    }
    @media screen and (max-width: 1080px) {
        flex-basis: 100%;
    }
}
