{% load staticfiles %}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel='shortcut icon' href="{% static 'img/favicon.png' %}" type='image/x-icon' >

    <title>{% block title %}Needs Assessment Toolbox{% endblock %}</title>

    <!--
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>

    {% block head %}
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" />

</head>
<body>
    {% block body %}
    {% endblock %}
</body>
</html>
