{% load staticfiles %}

<div id="modal-fill" hidden>
    <div class="modal">
        <div class="logo-container">
            <a href="{% url 'home' %}"><img src="{% static 'img/unhcr-logo.png' %}"></a>
            <button id="modal-close"><i class="ion-close"></i></button>
        </div>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'news_and_notifications' %}" class="menu-item {% if  request.resolver_match.url_name == 'news_and_notifications' %}active{% endif %}">News &amp; Notifications</a>
        <a href="{% url 'field_support' %}" class="menu-item {% if  request.resolver_match.url_name == 'field_support' %}active{% endif %}">Request support</a>
        {% for tool_list in tool_lists %}
        <a href="{% url 'tool_list' tool_list.slug %}" class="menu-item {% if current_list == tool_list %}active{% endif %}">{{ tool_list.title }}</a>
        {% endfor %}
        <a href="{% url 'contact_us' %}" class="menu-item {% if request.resolver_match.url_name  == 'contact_us' %}active{% endif %}">Contact us</a>
    </div>
</div>
