{% load staticfiles %}

<div id="modal-fill" hidden>
    <div class="modal">
        <div class="logo-container">
            <a href="{% url 'home' %}"><img src="{% static 'img/unhcr-logo.png' %}"></a>
            <button id="modal-close"><i class="ion-close"></i></button>
        </div>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'network_and_contact' %}" class="menu-item {% if  request.resolver_match.url_name == 'network_and_contact' %}active{% endif %}">Network &amp; Contact</a>
        <a href="{% url 'field_support' %}" class="menu-item {% if  request.resolver_match.url_name == 'field_support' %}active{% endif %}">Request support</a>
        {% for nav_link in nav_links %}
        <a href="{{ nav_link.url }}" target="_blank" class="menu-item external-link">
            {{ nav_link.title }}
            <span class="alert-icon ion-ios-bell" />
        </a>
        {% endfor %}
        {% for tool_list in tool_lists %}
        <a href="{% url 'tool_list' tool_list.slug %}" class="menu-item {% if current_list == tool_list %}active{% endif %}">{{ tool_list.title }}</a>
        {% endfor %}
    </div>
</div>
