{% load staticfiles %}
<script src="{% static 'js/nav.js' %}"></script>

{% include 'modal.html' %}

<nav>
    <div id="logo-wrapper">
        <a href="{% url 'home' %}"><img src="{% static 'img/unhcr-logo.png' %}"></a>
    </div>
    <div id="main-menu">
        {% for nav_link in nav_links %}
        <a href="{{ nav_link.url }}" target="_blank" class="menu-item external-link">
            {{ nav_link.title }}
            <span class="alert-icon ion-ios-bell" />
        </a>
        {% endfor %}
        <a href="{% url 'network_and_contact' %}" class="menu-item {% if  request.resolver_match.url_name == 'network_and_contact' %}active{% endif %}">Network &amp; Contact</a>
        <a href="{% url 'field_support' %}" class="menu-item {% if  request.resolver_match.url_name == 'field_support' %}active{% endif %}">Request support</a>
        <a href="{% url 'contact_us' %}" class="menu-item {% if request.resolver_match.url_name  == 'contact_us' %}active{% endif %}">Contact us</a>
        <button id="menu-button"><i class="ion-android-menu"></i></a>
    </div>
    <div id="navigation-menu">
        <a href="{% url 'home' %}" class="menu-item {% if  request.path == '/' %}active{% endif %}">Home</a>
        {% for tool_list in tool_lists %}
        <a href="{% url 'tool_list' tool_list.slug %}" class="menu-item {% if current_list == tool_list %}active{% endif %}">{{ tool_list.title }}</a>
        {% endfor %}
    </div>
</nav>
