body {
    >footer {
        margin-top: 16px;
        height: 64px;
        flex-basis: 100%;
        background-color: $primary-color;
        display: flex;
        padding: 0 32px;
        justify-content: flex-start;
        align-items: center;

        a {
            padding: 0 16px;
            height: 100%;
            text-transform: uppercase;
            text-decoration: none;
            color: rgba(0, 0, 0, 0.5);
            font-weight: 700;
            cursor: pointer;
            font-size: 1.1em;
            display: inline-flex;
            align-items: center;


            &:hover {
                background-color: #414141;
                color: $primary-color;
            }
        }
    }
}
