$nav-height: 128px;

body {
    #modal-fill {
        position: absolute;
        background-color: #fff;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1111;

        .modal {
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            align-items: center;
            align-content: center;

            .logo-container {
                flex-basis: 100%;
                display: flex;
                justify-content: space-between;
                padding: 8px 24px;
                margin-bottom: 16px;

                img {
                    height: $nav-height - 56px;
                    padding: 12px 0;
                }
                button {
                    padding: 16px;
                    font-size: 2em;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    background-color: #fff;
                }


                @media screen and (max-width: 420px) {
                    img {
                        height: $nav-height - 72px;
                    }
                }
            }

            .external-link {
                .alert-icon {
                    color: $color-danger;
                    font-size: 1.2em;
                    margin-left: 4px;
                    transform: translateY(-50%);
                }
            }

            > a {
                flex-basis: 100%;
                color: #414141;
                cursor: pointer;
                font-size: 1.2em;
                padding: 16px 0;
                font-weight: 700;
                text-transform: uppercase;
                text-align: center;
                border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            }
        }
    }
}
