$nav-height: 128px;

body {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;

    >nav {
        background-color: #fff;
        height: $nav-height;
        flex-basis: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        align-content: space-between;
        justify-content: space-between;
        padding: 0 32px;
        box-shadow: 0 3px 15px -5px rgba(0, 0, 0, 0.5);


        #logo-wrapper {
            img {
                height: $nav-height - 56px;
                padding: 12px 0;
            }
        }

        #main-menu {
            display: flex;
            align-self: stretch;

            .menu-item {
                padding: 0 16px;
                color: get_text_color_on_primary();
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.06em;
                cursor: pointer;
                display: inline-flex;
                align-items: center;
                border: 1px solid transparent;

                &:hover {
                    border: 1px solid #333333;
                }

                &.active {
                    background-color: #333333;
                    color: $primary-color;
                }

            }
            #menu-button {
                display: none;
                border: none;
                background-color: #fff;
                padding: 0 16px;
                font-size: 2em;
                cursor: pointer;
            }
            @media  screen and (max-width: 720px) {
                .menu-item {
                    display: none;
                }
                #menu-button {
                    display: block;
                }
            }
        }

        #navigation-menu {
            background-color: $primary-color;
            color: #333333;
            flex-basis: calc(100% + 64px);
            margin: 0 -32px;
            height: 48px;
            text-align: left;

            .menu-item {
                padding: 0 16px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 0.06em;
                cursor: pointer;
                display: inline-flex;
                height: 100%;

                align-items: center;
                border: 1px solid transparent;

                &:hover {
                    background-color: #333333;
                    color: $primary-color;
                }

                &.active {
                    background-color: #333333;
                    color: $primary-color;
                }

            }
        }
        @media screen and (max-width: 720px) {
            height: 72px;
            justify-content: space-between;
            align-items: center;
            padding: 0 16px;

            #logo-wrapper {
                img {
                    height: $nav-height - 72px;
                }
            }
            #navigation-menu {
                display: none;
            }
        }
    }
}
